venv/
.ipynb_checkpoints
htmlcov/
.tox/
.noseids
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
api/__pycache__/
__pycache__/
*.py[cod]
*$py.class
.env