.home {
  background-color: #fffcf7;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #2b2b39;
    margin-top: 5rem;
    letter-spacing: 0.01rem;
  }

  p {
    font-size: 1.25rem;
    color: #5f5f75;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

    .started-btn {
      background-color: #6059c9;
      color: #fffcf7;
      padding-inline: 2.5rem;
      padding-block: 0.5rem;
      border-radius: 50px;
      border: none;
      font-weight: 600;
      z-index: 10;
      text-decoration: none;
    }

    .learn-btn {
      background-color: transparent;
      color: #2b2b39;
      padding-inline: 2.5rem;
      padding-block: 0.5rem;
      border-radius: 50px;
      border: none;
      font-weight: 600;
    }
  }

  .hero-image {
    position: absolute;
    bottom: -5rem;
    background-color: transparent;
    z-index: 1;
  }

  .hero-shape {
    width: 100vw;
  }

  .home-carousel {
    position: absolute;
    bottom: -350px;
    z-index: 10;

  .swiper {
    width: 95vw;
    background-color: transparent;
  }


.swiper-slide {
  display: flex;
  justify-content: center;
  background: transparent;
}

.swiper-wrapper{
  background: transparent;
  border-radius: 20px;
}



.swiper-button-prev,
.swiper-button-next {
  color: #000;
  background: transparent;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #000;
  background: transparent;
  font-size: 2rem
}
  }
}

.campaigns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-inline: auto;

  .campaigns-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  a {
    text-decoration: none;
  }

  .all-campaigns-btn {
    background-color: #f2eae1;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border: none;
    border-radius: 10px;
    color: #6059c9;
    font-size: 16px;
    font-weight: 700;

    img {
      background-color: transparent;
      margin-left: 10px;
    }
  }
}

.campaign-cards {
  display: flex;
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;

  .col-1 {
    padding-block: 10rem;
    flex: 1;
    background-color: #6059c9;

    .user-img {
      background-color: #fffcf7;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5rem;
    }

    h2 {
      background-color: transparent;
      color: #fffcf7;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.001rem;
      margin-block: 2rem;
      margin-left: 5rem;
    }

    p {
      background-color: transparent;
      font-size: 18px;
      color: #fffcf7;
      line-height: 1.3rem;
      width: 30rem;
      margin-left: 5rem;
      margin-bottom: 3rem;
    }

    a {
      margin-left: 5rem;
      text-decoration: none;
      font-size: 14px;
      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      font-weight: 700;
      background-color: #fffcf7;
      color: #6059c9;
      border: none;
      border-radius: 10px;

      img {
        margin-left: 5px;
      }
    }
  }

  .col-2 {
    padding-block: 10rem;
    flex: 1;
    background-color: #f5efe0;

    .user-img {
      background-color: #6059c9;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5rem;

      img {
        background-color: transparent;
      }
    }

    h2 {
      background-color: transparent;
      color: #6059c9;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.001rem;
      margin-block: 2rem;
      margin-left: 5rem;
    }

    p {
      background-color: transparent;
      font-size: 18px;
      color: #6059c9;
      line-height: 1.3rem;
      width: 30rem;
      margin-left: 5rem;
      margin-bottom: 3rem;
    }

    a {
      margin-left: 5rem;
      text-decoration: none;
      font-size: 14px;
      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      font-weight: 700;
      background-color: #6059c9;
      color: #fffcf7;
      border: none;
      border-radius: 10px;

      img {
        margin-left: 5px;
        background-color: transparent;
      }
    }
  }
}

.start-groups {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;

  .start-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .start-img {
      background-color: #6059c9;
      width: 96px;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      img {
        background-color: transparent;
      }
    }

    h4 {
      font-size: 24px;
      font-weight: 700;
      margin-block: 1rem;
      color: #2b2b39;
    }

    p {
      font-size: 18px;
      color: #5f5f75;
    }
  }
}

.cta {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  position: relative;

  .cta-content {
    background-color: #f5efe0;
    width: 100%;
    padding-block: 3rem;
    padding-left: 2rem;
    border-radius: 20px;

    h2 {
      background-color: transparent;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.001rem;
      color: #2b2b39;
    }

    p {
      background-color: transparent;
      font-size: 18px;
      color: #5f5f75;
      width: 470px;
      margin-top: 1rem;
      margin-bottom: 3.5rem;
    }

    a {
      background-color: #6059c9;
      padding-inline: 1rem;
      padding-block: 0.7rem;
      text-decoration: none;
      color: #fffcf7;
      font-size: 18px;
      font-weight: 700;
      border-radius: 10px;
      display: block;
      width: fit-content;

      img {
        background-color: transparent;
        margin-right: 5px;
      }
    }
  }
  .cta-image {
    position: absolute;
    bottom: 0;
    right: 8rem;
    background-color: transparent;

    img {
      background-color: transparent;
    }
  }
}
