@font-face {
  font-family: "Sen";
  src: url("./assets/fonts/Sen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  /* background-color: #fffcf7; */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
