.container {
  padding-inline: 0;
}

.wide-card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background-color: #fffcf7;

  .col-1 {
    flex: 1;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .col-2 {
    flex: 1;
    padding-block: 1.4rem;
    padding-inline: 2rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fffcf7;

    h3 {
      font-size: 18px;
      color: #5f5f75;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-block: 1rem;
    }

    p {
      font-size: 16px;
      color: #5f5f75;
      height: 6rem;
    }

    progress {
      width: 100%;
      height: 4px;
      border-radius: 50px;
      border: none;
      background-color: #f2eae1;
    }

    progress::-webkit-progress-bar {
      background-color: #f2eae1;
      border-radius: 50px;
    }

    progress::-webkit-progress-value {
      background-color: #6059c9;
      border-radius: 50px;
    }

    progress::-moz-progress-bar {
      background: #6059c9;
      border-radius: 50px;
    }

    .campaign-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btns {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
        margin-top: 1rem;

        .users-btn {
          padding-inline: 0.8rem;
          padding-block: 0.2rem;
          background-color: #6059c9;
          color: #fffcf7;
          border: none;
          border-radius: 8px;

          img {
            background-color: transparent;
          }
        }

        .tags-btn {
          padding-inline: 0.8rem;
          padding-block: 0.2rem;
          background-color: #f2eae1;
          color: #5f5f75;
          border: none;
          border-radius: 8px;

          img {
            background-color: transparent;
          }
        }

        .comments-btn {
          padding-inline: 0.8rem;
          padding-block: 0.2rem;
          background-color: #f2eae1;
          color: #5f5f75;
          border: none;
          border-radius: 8px;

          img {
            background-color: transparent;
          }
        }
      }

      .owner {
        margin-top: 1rem;
      }
    }
  }
}

.owner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.rating-image {
  width: 17px;
  filter: brightness(0.93) contrast(1.1);
  margin-bottom: 2px;
}

.rating-button {
  background-color: #ffc20b !important;
  color: whitesmoke !important;
}
