.about-background-color {
  background-color: #f5efe0;
}

.about {
  padding-top: 5rem;

  .about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 72px;
      font-weight: 700;
      color: #2b2b39;
    }

    p {
      font-size: 18px;
      color: #5f5f75;
      width: 994px;
      margin-bottom: 3rem;
      line-height: 1.5rem;
    }
  }

  .users-background {
    background-color: #fff;

    .users {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1300px;
      margin: 0 auto;
      padding-top: 5rem;

      .column-1 {
        flex: 1;

        p {
          font-size: 24px;
          color: #5f5f75;
        }

        h4 {
          font-size: 48px;
          font-weight: 700;
          color: #2b2b39;
          width: 414px;
        }
      }

      .column-2 {
        flex: 1;
      }
    }
  }
}
