.about-background-color {
  background-color: #fffcf7;
}

.about {
  .hero-background {
    padding-top: 5rem;
    background-color: #f5efe0;
  }
  .about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 72px;
      font-weight: 700;
      color: #2b2b39;
    }

    p {
      font-size: 18px;
      color: #5f5f75;
      width: 994px;
      margin-bottom: 3rem;
      line-height: 1.5rem;
    }
  }

  .users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 10rem;

    .column-1 {
      flex: 1;

      p {
        font-size: 24px;
        color: #5f5f75;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        color: #2b2b39;
        width: 414px;
      }
    }

    .column-2 {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .users-categories {
        background-color: #6059c9;
        padding-top: 3rem;
        padding-inline: 2rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 20px;

        .users-img {
          background-color: #fff;
          border-radius: 50%;
          padding: 1rem;
        }

        h4 {
          font-size: 24px;
          font-weight: 600;
          color: #fffcf7;
          margin-top: 2rem;
        }

        p {
          font-size: 14px;
          color: #fffcf7;
          width: 227px;
        }
      }
    }
  }

  .voice {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 10rem;

    h2 {
      font-size: 64px;
      font-weight: 700;
      color: #2b2b39;
    }

    .paragraphs {
      display: flex;
      align-items: start;
      gap: 5rem;
      margin-block: 2rem;

      p {
        flex: 1;
        font-size: 18px;
        color: #5f5f75;
      }
    }

    img {
      width: 100%;
    }
  }

  .values-background {
    background-image: url("/Rectangle 72.svg");
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10rem;
  }
  .values {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 15rem;
    padding-bottom: 10rem;
    color: #6059c9;

    h2 {
      font-size: 64px;
      font-weight: 700;
    }

    .value {
      display: flex;
      align-items: center;
      gap: 7rem;

      span {
        display: block;
        font-size: 64px;
        font-weight: 700;
        margin-block: 3rem;
      }

      h4 {
        font-size: 24px;
        font-weight: 700;
      }

      .first {
        flex: 1;
      }

      .second {
        flex: 1;
      }

      .third {
        flex: 1;
      }
    }
  }
}
